[nodes]
${node-1-dns} ansible_host=${node-1-ip} # id: ${node-1-id}
${node-2-dns} ansible_host=${node-2-ip} # id: ${node-2-id}
${node-3-dns} ansible_host=${node-3-ip} # id: ${node-3-id}

[nodes:vars]
loadbalancer_ip=${loadbalancer-ip}
